@use '../util' as u;


.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.rem(40);
    //max-width: 1000px;
    width: min(100% - u.rem(40), u.rem(1000));
    margin-inline: auto; 
   
    

@include u.breakpoint(large){
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto;  
}
    //@media (min-width: 900px){
      // grid-template-columns: 2fr 1fr; 
       //grid-template-rows: auto; 
       //padding-left: 0;
       //padding-right: 0;

    //}

    
    &__main,
    &__sidebar{
       padding: u.rem(40); 
    }

    &__main{
        background-color: hsl(240, 82%, 24%);
        
        @include u.breakpoint(large){
            background-color: hsl(39, 100%, 50%); 
        }
        
        @include u.breakpoint(medium){
            background-color: hsl(120, 100%, 25%); 
        }

    }

    &__sidebar{
        
        
        //@media(max-width: 56.25em){
            //  text-align: centre;
            //}
            
            @include u.breakpoint-down(medium){
                text-align: center;
            }
            
        }
        
        &__widget{
            background-color: hsl(300, 68%, 23%);
            &--green{
                background-color: hsl(120, 82%, 20%);
            }
            padding: u.rem(16);
            
    }
}  