@use '../util' as u;

h1,
h2,
h3{
    font-weight: bold;
    line-height: 1.1;
    margin-top: 0;
}

h1{
    //converting px to vw by dividing px by 375
    //font-size: 7.5vw;
    //font-size:  cal(16px + 2vw);
    //font-size: clamp(1.7rem, 1rem + 2vw, 2.5rem); 
    font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

h2{
    //font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
    font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36)); 
}

p{  
    margin-top: 0;
    font-size: u.rem(16)
}

a,
a:visited,
a:active{
    text-decoration: none;
}